<div class="container page-todo bootstrap snippets bootdeys" id="main-container">
  <div class="col-sm-7 tasks">
    <div class="task-list">
      <h1>Tasks Management</h1>

      <div class="card"><a (click)="onOpenModal(null, 'add')" class="btn btn-primary tooltips" data-placement="top"
                           data-original-title="Add">ADD NEW TASK</a></div>

      <div class="priority high"><span>URGENT Priority</span></div>
      <div *ngFor="let task of tasks">
        <div *ngIf="task?.priority == PRIORITY.URGENT" class="task high">
          <div class="desc">
            <div class="title">{{task?.name}}</div>
            <div class="desc">DONE: {{task?.done}}</div>
            <div>
              <a (click)="onOpenModal(task,'edit')" class="btn btn-primary tooltips" data-placement="top"
                 data-original-title="Edit"><i class="fa fa-pencil"></i></a>&nbsp;
              <a (click)="onDeleteTask(task.id)" class="btn btn-primary tooltips" data-placement="right"
                 data-original-title="Delete"><i class="fa fa-trash"></i></a>
            </div>

          </div>
          <div class="time">
            <div class="desc">{{datePipe.transform(task?.created, 'MM/dd/yyyy', 'UTC')}}
              {{datePipe.transform(task?.created, 'mediumTime', 'UTC')}}
            </div>
          </div>
        </div>
      </div>

      <div class="priority medium"><span>NORMAL Priority</span></div>
      <div *ngFor="let task of tasks">
        <div *ngIf="task?.priority == PRIORITY.NORMAL" class="task medium">
          <div class="desc">
            <div class="title">{{task?.name}}</div>
            <div>DONE: {{task?.done}}</div>
            <div>
              <a (click)="onOpenModal(task,'edit')" class="btn btn-primary tooltips" data-placement="top"
                 data-original-title="Edit"><i class="fa fa-pencil"></i></a>&nbsp;
              <a (click)="onDeleteTask(task.id)" class="btn btn-primary tooltips" data-placement="right"
                 data-original-title="Delete"><i class="fa fa-trash"></i></a>
            </div>
          </div>
          <div class="time">
            <div
              class="desc">{{datePipe.transform(task?.created, 'MM/dd/yyyy', 'UTC')}} {{datePipe.transform(task?.created, 'mediumTime', 'UTC')}}</div>
          </div>
        </div>
      </div>

      <div class="priority low"><span>LOW Priority</span></div>
      <div *ngFor="let task of tasks">
        <div *ngIf="task?.priority == PRIORITY.LOW" class="task low">
          <div class="desc">
            <div class="title">{{task?.name}}</div>
            <div>DONE: {{task?.done}}</div>
            <div>
              <a (click)="onOpenModal(task,'edit')" class="btn btn-primary tooltips" data-placement="top"
                 data-original-title="Edit"><i class="fa fa-pencil"></i></a>&nbsp;
              <a (click)="onDeleteTask(task.id)" class="btn btn-primary tooltips" data-placement="right"
                 data-original-title="Delete"><i class="fa fa-trash"></i></a>
            </div>
          </div>
          <div class="time">
            <div
              class="desc">{{datePipe.transform(task?.created, 'MM/dd/yyyy', 'UTC')}} {{datePipe.transform(task?.created, 'mediumTime', 'UTC')}}</div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>


  <!-- Add Task Modal-->
  <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddTask(addForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                     ngModel
                     name="name"
                     class="form-control"
                     id="name"
                     placeholder="Name"
                     required>
            </div>
            <div class="form-group">
              <label for="done">Done</label>
              <input type="checkbox"
                     ngModel
                     name="done"
                     class="form-control"
                     id="done">
            </div>
            <div class="form-group">
              <label>Priority</label>
              <div *ngFor="let prio of PRIORITY | keyvalue" class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  ngModel
                  [value]="prio.key"
                  name="priority"
                  id="priority"
                  required
                />
                <label class="form-check-label" for="priority">{{prio.key}}</label>
              </div>

              <div class="modal-footer">
                <button type="button" id="add-task-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateTaskModal" tabindex="-1" role="dialog" aria-labelledby="taskEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateTaskModalLabel">Edit Task {{editTask?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" ngModel="{{editTask?.name}}" name="name"
                     class="form-control" id="name"
                     placeholder="Name"
              >
            </div>
            <input type="hidden" ngModel="{{editTask?.id}}" name="id">
            <div class="form-group">
              <label for="done">Done</label>
              <input type="checkbox"
                     [ngModel]="editTask?.done"
                     name="done"
                     class="form-control" id="done">
            </div>
            <div class="form-group">
              <label>Priority</label>
              <div *ngFor="let prio of PRIORITY | keyvalue" class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  [value]="prio.key"
                  [ngModel]="editTask?.priority"
                  name="priority"
                  id="priority"
                />
                <label class="form-check-label" for="priority">{{prio.key}}</label>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateTask(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
